
.icon-infraestrutura:before { content: '\e800'; } /* '' */
.icon-projetos:before { content: '\e801'; } /* '' */
.icon-alocacao-de-profissionais:before { content: '\e802'; } /* '' */
.icon-gerenciamento-de-ti:before { content: '\e803'; } /* '' */
.icon-seguranca-da-informacao:before { content: '\e804'; } /* '' */
.icon-emo-thumbsup:before { content: '\e805'; } /* '' */
.icon-emo-happy:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-briefcase:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-emo-unhappy:before { content: '\e80e'; } /* '' */
.icon-emo-surprised:before { content: '\e80f'; } /* '' */
.icon-emo-displeased:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-right-open-big:before { content: '\e814'; } /* '' */
.icon-up-open-big:before { content: '\e815'; } /* '' */
.icon-left-open-big:before { content: '\e816'; } /* '' */
.icon-plus:before { content: '\e817'; } /* '' */
.icon-down-open-big:before { content: '\e818'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */